

<div class="banner-text">
  <p class="success" style="color:purple; font-size:50px; font-weight:blod;padding:10px;">Achat Affectué</p>
  <div class="banner-btn">
    <a href="<%= orders_path %>", class="btn valid">My Orders</a>
  </div>
</div>
